<div class="container">
  <h1>Angular Carousel</h1>
  <div class="carousel">
    <carousel>
      <slide *ngFor="let slide of slides">
        <img [src]="slide.imageUrl" alt="Slide">
        <div class="carousel-caption">
          <h4>{{ slide.caption }}</h4>
        </div>
      </slide>
    </carousel>
  </div>

  <br>
  <br>

  <div class="slide-list">
    <h4>Slide List</h4>
    <ul>
      <li *ngFor="let slide of slides">
        <img [src]="slide.imageUrl" alt="Slide" class="slide-thumbnail">
        <span>{{ slide.caption }}</span>
        <button (click)="deleteSlide(slide)" class="btn"><i class="fa fa-trash"
            style="font-size:32px;color:red"></i></button>
      </li>
    </ul>
  </div>

  <br>
  <br>

  <div class="slide-form">
    <h4>Add Slide</h4>
    <form (submit)="addSlide()" #slideForm="ngForm">
      <div class="form-group">
        <label for="imageUrl">Image URL:</label>
        <input class="form-control" type="text" id="imageUrl" name="imageUrl" [(ngModel)]="newSlide.imageUrl" required
          #imageUrl="ngModel">
        <div *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)" class="text-danger">Image URL is required
        </div>
      </div>
      <div class="form-group">
        <label for="caption">Slide Caption:</label>
        <input class="form-control" type="text" id="caption" name="caption" [(ngModel)]="newSlide.caption" required
          #caption="ngModel">
        <div *ngIf="caption.invalid && (caption.dirty || caption.touched)" class="text-danger">Slide Caption is required
        </div>
      </div>
      <button class="btn btn-primary" type="submit" style="height: 40px; width: 100px;">Add Slide</button>
    </form>
  </div>

</div>


<router-outlet></router-outlet>